body {
	padding: 0;
	margin: 0;
}

.sidebarWrapper {
	position: absolute;
	max-width: 20%;
	height: 100%;
	flex-direction: row-reverse;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background: aliceblue;
}

.sidebar {
	flex-direction: column;
	position: absolute;
	height: 100vh;
	width: 15vw;
	background: aliceblue;
}

.sidebarSection {
	padding: 12px;
}
#slidePreviews {
	overflow-y: scroll;
	max-height: 50vh;
	padding: 8px;
}

.slides {
	margin: 12px;
}

.sidebarSection {
	margin-bottom: 20px;
}

.hide {
	display: none;
}

.arrow {
	width: 0; 
	height: 0; 
	margin-top: 30px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-left: 10px solid black; 
}

.arrow.open {
	position: absolute;
	left: 15vw;
	transform: rotate(180deg); /* Equal to rotateZ(45deg) */
  }

  /* currently not in use */
.info { 
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}

.notifications {
	position: absolute;
	right: 20px;
	text-align: right;
}

.viewZone {
	position: absolute;
	width: 960px;
	height: 540px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-style: solid;
	border-color: black;
	text-align: center;
}

.viewZone2 {
	position: absolute;
	width: 540px;
	height: 720px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-style: solid;
	border-color: black;
	text-align: center;
}